@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{
    --mainF:"Poppins", sans-serif;
    --subF:"Inter", sans-serif;
    --mainC:#545BE8;

}
body{
font-family: var(--mainF);
height: 3000px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.container{
    width: calc(100% - 300px);
    margin: auto;
    

}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap ;
  

   
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
@media (max-width: 1200px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }

    .row {
        flex-direction: column;
        align-items: flex-start;
    }

    .header .list ul {
        flex-direction: column;
        gap: 20px;
    }

    .header .sing {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .header .list {
        display: none;
    }

    .header .bar {
        display: inline-block;
    }
}

@media (max-width: 480px) {
    .header .logo {
        font-size: 12px;
        width: 150px;
    }

    .header .sing a {
        padding: 10px 20px;
        font-size: 16px;
    }

    .task-1 .right-side h1 {
        font-size: 24px;
    }

    .task-1 .right-side p, .task-1 .right-side h3, .task-1 .right-side .color-text2 {
        font-size: 14px;
    }
}